// All the Navbar styling
nav {
    background-color: $secondary-color;
    padding: 10px;
  }
  a {
    color: $yellow-text;
    font-size: 1.5em;
    text-decoration: none;
    &:hover {
      color: #fffff1;
    }
  }

.navBarLinks {
  /* removes bullet points */
  list-style-type: none;  
  margin: 0;
}

.navList {
  display: inline;
  margin-right: 25px;
}
  
// Formatting specifically for RoseDiem Art Duels home link
#navHome {
    color: #cca3bc;
    background: $secondary-darker;
    border: 1px solid $yellow-text;
    padding: 0.2em;
    margin-left: -25px;
    // Change color on mouse hover
    &:hover {
      color: #fffff1;
    }
  }