// imports
@import 'config';
@import 'navbar';

body {
    background-color: $primary-color;
}

h1 {
    text-align: center;
}

.box404 {
    // border: 2px solid black;
    border-radius: 15%;
    text-align: center;
    margin: 3em 15em; 
    padding: 2em;
    color: $purple-text;
    background-color: $tertiary-color;
    #text404 {
        font-size: larger;
        
    }
}

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    width: 25%;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.submit-button {
    padding: 0.25em 0.75em;
    background-color: $tertiary-color;
    margin-bottom: 1em;
    font-weight: bold;
    &:hover{
        background: linear-gradient(to bottom left, rgb(183, 211, 152), rgb(219, 245, 188));
    }
}

.indexNames {
    color: black;
    font-size: 1em;
    &:hover {
        color: rgb(82, 82, 82);
    }
  }