body {
    background-color: #dbca9e;
}

nav {
    background-color: #60773F;
    padding: 10px;
  }
  
  nav ul {
    /* removes bullet points */
    list-style-type: none;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 25px;
  }
  
  nav a {
    color: #fefc9a;
    font-size: 1.5em;
    text-decoration: none;
  }

  #navHome {
    color: #cca3bc;
  }