// imports
@import 'config';
@import 'navbar';
@import 'navbarProfile';


body {
    // main color of the website
    background-color: $primary-color;
}

main {
    margin: 1em;
}

h1 {
    text-align: center;
}

// 404 error page. Styles the box and text.
.box404 {
    border-radius: 15%;
    text-align: center;
    margin: 3em 15em; 
    padding: 2em;
    color: $purple-text;
    background-color: $tertiary-color;
    #text404 {
        font-size: larger;
        
    }
}

// Styles the registration and login pages.
.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// Styles the forms you fill in for registration/login pages.
.form-group {
    width: 25%;
    margin-bottom: 0.5em;
    font-weight: bold;
}

// Submit button on register/log in pages
.submit-button {
    padding: 0.25em 0.75em;
    background-color: $tertiary-color;
    margin-bottom: 1em;
    font-weight: bold;
    // changes the button color on mouse hover
    &:hover{
        background: linear-gradient(to bottom left, rgb(183, 211, 152), rgb(219, 245, 188));
    }
}

// All names on the profile page
.indexNames {
    color: black;
    font-size: 1em;
    // changes profile name colors when mouse hovers over them
    &:hover {
        color: rgb(82, 82, 82);
    }
  }

  .thumbnail {
    width: 200px;
    height: 200px;
  }

// These are the text links throughout pages
.pageLinks {
    color: black;
    font-size: 1em;
    &:hover {
        color: blue;
    }
    text-decoration: underline;
}